label {
    font-family: Roboto, sans-serif;
    color: rgba(0, 0, 0, 0.6);
    line-height: 24px;
    margin-left: 14px;
    font-weight: 400;
}
.rating {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 24px;
    height: 24px;
    width: 120px;
    position: relative;
    margin: 0 14px;;

    .star {
        cursor: pointer;
        display: inline-block;
        position: relative;

        &.full {
            color: goldenrod;
        }

        &:hover {
            color: goldenrod;
        }
    }
}