<div [hidden]="isLoading">
    <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
            <table mat-table [dataSource]="modifications" matSort>

                <!-- Date Column -->
                <ng-container matColumnDef="dateModification">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de modification</th>
                    <td mat-cell *matCellDef="let modification">
                        {{ modification.dateModification | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                </ng-container>

                <!-- Libelle Column -->
                <ng-container matColumnDef="libelle">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
                    <td mat-cell *matCellDef="let modification">{{ modification.libelle }}</td>
                </ng-container>

                <!-- Champ Column -->
                <ng-container matColumnDef="champ">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Champ</th>
                    <td mat-cell *matCellDef="let modification">{{ modification.champ }}</td>
                </ng-container>

                <!-- Ancienne Valeur Column -->
                <ng-container matColumnDef="ancienneValeur">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ancienne valeur</th>
                    <td mat-cell *matCellDef="let modification">{{ modification.ancienneValeur }}</td>
                </ng-container>

                <!-- Nouvelle Valeur Column -->
                <ng-container matColumnDef="nouvelleValeur">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nouvelle valeur</th>
                    <td mat-cell *matCellDef="let modification">{{ modification.nouvelleValeur }}</td>
                </ng-container>

                <!-- Utilisateur Column -->
                <ng-container matColumnDef="utilisateur">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Utilisateur</th>
                    <td mat-cell *matCellDef="let modification">{{ modification.utilisateur.login }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>

<app-loader *ngIf="isLoading"></app-loader>