body {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;

        &.probabiliteSucces {
            width: 25%;
            font-weight: 500;
            text-align: center;
        }

        span {
            padding: 8px;
            display: inline-block;
            border-bottom: 1px dotted #808080;
            width: 80%;
            height: 25px;
            vertical-align: bottom;
        }
    }

    &.prospect-details {
        page-break-after: always;

        tr {
            td:first-child {
                width: 30%;
                font-weight: bold;
            }

            td:last-child {
                width: 70%;
            }
        }
    }
}

.resume-section {
    page-break-before: always;

    >textarea {
        width: 100%;
        height: 500px;
        padding: 10px;
        border: 1px solid #ddd;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        resize: none;
    }
}