<div class="mat-elevation-z8" fxLayoutAlign="center center" fxLayout="column">
    <h2>Imprimer une fiche "écoute"</h2>
    <section fxLayoutGap="20px">
        <mat-form-field *ngIf="standalone">
            <mat-label>Prospect</mat-label>
            <mat-select [(ngModel)]="prospect">
                <mat-option aria-selected="true" (onselect)="resetProspect()">Fiche écoute vierge</mat-option>
                <mat-option *ngFor="let prospect of prospects" [value]="prospect">{{ prospect.nom
                    }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button *ngIf="!isLoading" mat-fab color="primary" (click)="printFicheRencontre()"
            title="Imprimer la fiche écoute">
            <mat-icon>print</mat-icon>
        </button>
    </section>
</div>

<section class="print-section only-for-printing" *ngIf="!isLoading">
    <!-- En-tête -->
    <h1>Fiche écoute</h1>
    <section>
        <h2>Informations générales</h2>
        <!-- Détails du Prospect avec espaces réservés pour champs vides -->
        <table class="prospect-details">
            <tr>
                <td><strong>Nom :</strong></td>
                <td class="text-with-dots">
                    <span>
                        {{ prospect.nom || "" }}
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Département :</strong></td>
                <td>
                    <span>
                        {{ prospect.departement || "" }}
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Adresse :</strong></td>
                <td>
                    <span>
                        {{ prospect.adresse || "" }}
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Téléphone :</strong></td>
                <td>
                    <span>
                        {{ prospect.telephone || "" }}
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Email :</strong></td>
                <td>
                    <span>
                        {{ prospect.mail || "" }}
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Secteur d'Activité :</strong></td>
                <td>
                    <span>
                        {{ prospect.secteurActivite || "" }}
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Statut :</strong></td>
                <td><span>{{ prospect.statut?.libelle || "" }}</span></td>
            </tr>
            <tr>
                <td><strong>Type d'Organisme :</strong></td>
                <td><span>{{ prospect.typeOrganisme?.libelle || "" }}</span></td>
            </tr>
        </table>
    </section>

    <section>
        <!-- Liste des Contacts avec un minimum de 5 entrées -->
        <h2>Contacts</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Fonction</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of getFilledArray(prospect.contacts, 5)">
                    <td><span>{{ contact?.nom }}</span></td>
                    <td><span>{{ contact?.fonction }}</span></td>
                    <td><span>{{ contact?.email }}</span></td>
                    <td><span>{{ contact?.telephone }}</span></td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <!-- Liste des Produits Prospects avec un minimum de 5 entrées -->
        <h2>Produits proposés</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom du Produit</th>
                    <th>Probabilité de réussite</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produitProspect of getFilledArray(prospect.produitProspects, 5)">
                    <td><span>{{ produitProspect?.produit?.libelle }}</span></td>
                    <td class="probabiliteSucces">{{ produitProspect?.probabiliteSucces ?? ".." }}/5</td>
                </tr>
            </tbody>
        </table>

    </section>

    <!-- Zone de texte pour le résumé de la rencontre -->
    <section class="resume-section">
        <h2>Résumé de la Rencontre</h2>
        <textarea rows="10" cols="50"></textarea>
    </section>
</section>

<app-loader *ngIf="isLoading"></app-loader>