<div class="mat-elevation-z8" [hidden]="isLoading">
    <table mat-table [dataSource]="secteurGeographiques" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </th>
        <td mat-cell *matCellDef="let secteurGeographique"> {{secteurGeographique.id}} </td>
      </ng-container>
  
      <!-- Libelle Column -->
      <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Libelle
        </th>
        <td mat-cell *matCellDef="let secteurGeographique"> {{secteurGeographique.libelle}} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="right-align"></th>
        <td mat-cell *matCellDef="let secteurGeographique" class="right-align">
          <button mat-icon-button (click)="$event.stopPropagation(); openDeleteConfirmationDialog(secteurGeographique)">
            <mat-icon>delete</mat-icon>
          </button>
          <button *ngIf="!secteurGeographique.actif" mat-icon-button (click)="$event.stopPropagation(); switchStatus(secteurGeographique, true)">
            <mat-icon>settings_backup_restore</mat-icon>
          </button>
          <button *ngIf="secteurGeographique.actif" mat-icon-button (click)="$event.stopPropagation(); switchStatus(secteurGeographique, false)">
            <mat-icon>block</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/secteurs-geographiques', row.id]"
        class="clickable highlight-row" [ngClass]="{'inactive-row': !row.actif}"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
  
  <app-loader *ngIf="isLoading"></app-loader>
  
  <button mat-fab color="primary" class="floating-button" routerLink="/secteurs-geographiques/add">
    <mat-icon>add</mat-icon>
  </button>
