<mat-tab-group *ngIf="prospect">
    <mat-tab label="Prospect">
        <app-prospect-form [isAddForm]="false" [prospect]="prospect"/>
    </mat-tab>
    <mat-tab label="Produits proposés ({{prospect.produitProspects.length}})">
        <app-produit-prospect-list [prospect]="prospect"></app-produit-prospect-list>
    </mat-tab>
    <mat-tab label="Evénements ({{prospect.evenements.length}})">
        <app-evenement-list [evenementList]="prospect.evenements"></app-evenement-list>
    </mat-tab>
    <mat-tab label="Contacts ({{prospect.contacts.length}})">
        <app-contact-list [contactList]="prospect.contacts"></app-contact-list>
    </mat-tab>
</mat-tab-group>
<app-loader *ngIf="!prospect"></app-loader>