/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.basic-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
    margin: auto;
}

.full-width {
    width: 100%;
}

.centered {
    margin: auto;
}

.title {
    font-size: x-large;
    margin-bottom: 1.4rem;
}

button.floating-button,
div.floating-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1;

    & button {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

tr,
th {
    .right-align {
        text-align: right;
    }

    &.inactive-row {
        background-color: lighten(grey, 45%);
        color: #757575;
    }

    &.clickable {
        cursor: pointer;
    }

    &.clickable:hover {
        background-color: lighten(grey, 40%);
    }
}

.snack-error {
    --mdc-snackbar-container-color: rgb(202, 56, 56);
}

.snack-warning {
    --mdc-snackbar-container-color: rgb(152, 123, 7);
}

@media screen {
    .only-for-printing {
        display: none;
    }
}

@media print {
    @page {
        size: landscape;
    }

    body *:not(:has(.print-section)):not(.print-section):not(.print-section *) {
        display: none !important;
    }

    mat-sidenav-container.mat-drawer-container {
        overflow: visible;
    }

    mat-sidenav-content {
        margin-left: 0 !important;
        position: static !important;

        & * {
            box-shadow: none !important;
        }

        &.mat-drawer-content {
            overflow: visible;
        }
    }

    .print-section {
        position: static;
        overflow: visible;
        width: auto;
        max-height: none;
        float: none;
    }

    textarea {
        border: none;
    }
}