<mat-toolbar color="primary" *ngIf="isLoggedIn">
    <span>
        <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
            <mat-icon *ngIf="!isSidenavOpened">menu</mat-icon>
            <mat-icon *ngIf="isSidenavOpened">close</mat-icon>
        </button>
    </span>
    <span class="toolbar-spacer"></span>
    <span>{{title}}</span>
    <span class="toolbar-spacer"></span>
    <span>Bonjour {{ userName }} !</span>
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<div fxLayout="column" style="height: 100vh;">
    <mat-sidenav-container class="example-container" style="height: 100%;">
        <mat-sidenav [opened]="isSidenavOpened" mode="side" *ngIf="isLoggedIn" class="sidebar-background" position="start"
            style="height: 100%;">
            <mat-nav-list>
                <a mat-list-item routerLink="produits">Produits</a>
                <a mat-list-item routerLink="prospects">Prospects</a>
                <a mat-list-item routerLink="utilisateurs" *ngIf="isAdmin">Utilisateurs</a>
                <a mat-list-item routerLink="types-evenement" *ngIf="isAdmin">Types Evenement</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="height: 100%;">
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>