<div class="mat-elevation-z8" [hidden]="isLoading || prospectList.length === 0">
  <table mat-table [dataSource]="prospects" matSort class="print-section">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.id }}</td>
    </ng-container>

    <!-- Type organisme Column -->
    <ng-container matColumnDef="type-organisme">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type d'organisme</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.typeOrganisme.libelle }}</td>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.nom }}</td>
    </ng-container>

    <!-- Statut Column -->
    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.statut.libelle }}</td>
    </ng-container>

    <!-- Secteur Geographique Column -->
    <ng-container matColumnDef="secteurGeographique">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Secteur géographique</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.secteurGeographique.libelle }}</td>
    </ng-container>

    <!-- Adresse Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.adresse }}</td>
    </ng-container>

    <!-- Telephone Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.telephone }}</td>
    </ng-container>

    <!-- Mail Column -->
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.mail }}</td>
    </ng-container>

    <!-- SecteurActivite Column -->
    <ng-container matColumnDef="secteurActivite">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Secteur d'activité</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.secteurActivite }}</td>
    </ng-container>

    <!-- DateCreation Column -->
    <ng-container matColumnDef="dateCreation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de création</th>
      <td mat-cell *matCellDef="let prospect">{{ prospect.dateCreation | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="right-align no-print"></th>
      <td mat-cell *matCellDef="let produit" class="right-align no-print">
        <button mat-icon-button (click)="$event.stopPropagation(); openDeleteConfirmationDialog(produit)"
        title="Supprimer le prospect">
          <mat-icon>delete</mat-icon>
        </button>
        <button *ngIf="!produit.actif" mat-icon-button (click)="$event.stopPropagation(); switchStatus(produit, true)"
        title="Activer le prospect">
          <mat-icon>settings_backup_restore</mat-icon>
        </button>
        <button *ngIf="produit.actif" mat-icon-button (click)="$event.stopPropagation(); switchStatus(produit, false)"
        title="Desactiver le prospect">
          <mat-icon>block</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/prospects', row.id]"
      class="clickable highlight-row" [ngClass]="{'inactive-row': !row.actif}"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<app-loader *ngIf="isLoading"></app-loader>

<div class="floating-button" fxLayout="column">
  <button mat-fab color="primary" (click)="printList()" *ngIf="isPrintable" title="Imprimer la liste">
    <mat-icon>print</mat-icon>
  </button>
  <button mat-fab color="primary" (click)="exportToCsv()" *ngIf="isPrintable" title="Exporter la liste">
    <mat-icon>file_download</mat-icon>
  </button>
  <button mat-fab color="primary" routerLink="/prospects/add" title="Ajouter un prospect">
    <mat-icon>add</mat-icon>
  </button>
</div>